body {
	margin: 0;
}

#topBarContainer{
	position: absolute;
	top: 68px;
	left: 83px;

	margin: 0;
	padding: 0 0 0 6px;

	height: 32px;
	width: calc(100% - 89px);

	background-color: #3F5AB7;
	color: #FFFFFF;

	font: 20px "Trebuchet MS", sans-serif;
}

#topBarContainer > a {
	display: inline-block;

	height: 24px;

	margin: 0 0 0 -6px;
	padding: 8px 14px 0 2px;

	border-right: 3px solid #FFFFFF;

	font: inherit;
	text-decoration: none;
	color: inherit;

	background-color: inherit;
}

#topBarContainer > a:hover {
	background-color: #4F6AC7;
}